/*General*/
*{
  box-sizing:border-box;
  width:100%;
}
body{
  background-color:#274A7D;
  color:white;
}
/*Header*/
h1{
  text-align:center;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
}
header{
  width:100%;
}
.header-features{
  width:60%;
  display:flex;
  flex-wrap:wrap;
  padding:15px;
  margin:auto;
}
.stars{
  width:33.333333333%;
  display:inline-block;
  text-align:center;
  margin:auto;
}
.star{
  font:16px;
  padding:0;
  margin:0;
  width:1em;
  color:orange;
}
.moves{
  display:inline-block;
  width:33.333333333%;
  text-align:left;
  margin:auto;
  font-size:24px;
  font-family:'Montserrat', sans-serif;
}
.reset{
  width:33.333333333%;
  display:inline-block;
  text-align:center;
}
.reset-button{
  width:auto;
  font-size: 36px;
}
a{
  text-decoration: none;
}
#reset-button{
  color:white;
}
a:hover{
  cursor:pointer;
}
/*Cards*/
.card-container{
  width:90%;
  margin:auto;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  background: rgb(23,118,145);
  background: -moz-linear-gradient(152deg, rgba(23,118,145,1) 32%, rgba(19,142,186,1) 66%, rgba(10,102,152,1) 100%);
  background: -webkit-linear-gradient(152deg, rgba(23,118,145,1) 32%, rgba(19,142,186,1) 66%, rgba(10,102,152,1) 100%);
  background: linear-gradient(152deg, rgba(23,118,145,1) 32%, rgba(19,142,186,1) 66%, rgba(10,102,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#177691",endColorstr="#0a6698",GradientType=1);
  text-align:center;
  justify-content: center;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:20px;
  margin-bottom:20px;
  box-shadow:5px 5px 10px #001a33;
}
.card{
  height:150px;
  width:40%;
  margin:10px;
  padding:5px;
  border-radius:5px;
  box-shadow:5px 5px 10px #001a33;
  transition: transform 0.5s;
}
.card-closed{
  background-color:#4d4d4d;
}
.card-open{
  transform:rotateY(180deg);
  background-color:navy;
  height:150px;
  width:40%;
  margin:10px;
  padding:5px;
  border-radius:5px;
}
.card:hover{
  cursor:pointer;
}
.card-icon{
  visibility:hidden;
}
.card-icon-visible{
  visibility:visible;
  font-size:24px;
  color:white;
  margin:auto;
  transform:rotateY(180deg);
}
.card-matched{
  background-color:purple;
  pointer-events:none;
  transform:rotateY(360deg);
}
.card-unmatched{
  background-color:red;
  pointer-events:none;
  transform:translateX(5px);
}
/*Media Queries*/
@media screen and (min-width:700px){
  .card-container{
    width:85%;
  }
  .card{
    width:20%;
  }
}
@media screen and (min-width:1300px){
  .card-container{
    max-width:1104px;
  }
}
